.App {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .gallery img {
    margin: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }
  